<h1>UPCOMING EVENTS FOR <%=@artist_name.upcase%> WITHIN A 100 KM search_radius</h1>

<%if @events_for_artist_in_search_radius && @events_for_artist_in_search_radius != []%>
  <ol>
    <%@events_for_artist_in_search_radius.each do |event, index|%>
      <li><%=event_to_s(event)%></li>
    <%end%>
  </ol>
<%else%>
  <p>This artist does not have any upcoming events in this area, at least according to last.fm, which is often incomplete.</p>
<%end%>
