<p>list of artists!</p>




<form class="create-artist-form" action="/create_artist" method="POST">
  <input type="text" name="artist_name" placeholder="artist name" required>
  <input type="submit">
</form>
