<h3>Fill this out to create an account and get access to way more features eventually.</h3>

<form action="/signup" method="POST">
  <input type="submit" value="~*~ create account ~*~">
  <input type="text" name="email" placeholder="email address" required>
  <input type="password" name="password" placeholder="password" required>
</form>

