<!-- TODO: should allow someone to put in an address OR a geolocation. -->

<h3>Fill out this form to find shows for an artist near you.</h3>
<p>If you don't know your geolocation (which, yeah, why would you?), you can use <a href="http://latlong.net/">latlong.net</a>.</p>
<p>It will search last.fm for events within a 100 km (~62 mile) radius of the coordinate provided.</p>
<form action="/events" method="GET">
  <input type="submit" value="~*~ submit ~*~">
  <input type="text" name="artist" placeholder="ARTIST NAME" required>
  <input id="latitude-field" type="number" step="any" name="latitude" placeholder="LATITUDE" max=90 min=-90 required>
  <input id="longitude-field" type="number" step="any" name="longitude" placeholder="LONGITUDE" max=180 min=-180 required>
</form>
<script type="text/javascript" src="/js/home_page.js"></script>
